*{
    margin: 0;
    padding: 0;
}
.Portfolio{
    width: 100%;
    height:320px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.Portfolio-Item{
    width: 30%;
    height: 320px;
}
.Portfolio-Item img{
    width: 100%;
    height: 320px;
}